:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-primary);
  background-color: var(--color-background);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  --color-background: #16161a;
  --color-primary: #fffffe;
  --color-secondary: #7f5af0;
  --color-tertiary: #24262935;

  --font-title: "Montserrat";
}

.font-title {
  font-family: var(--font-title);
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.card {
  width: 380px;
  box-shadow: 0px 0px 4px 0px var(--color-secondary);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: var(--color-tertiary);
  backdrop-filter: blur(5px);
}

.animation-fade {
  animation: fade 1s forwards;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}

.animation-fade2{
  animation: fade 1s forwards;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

.animation-fade3{
  animation: fade 1s forwards;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1.1) translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}



.bg-gif{
  background-image: url("https://media1.tenor.com/m/kjXMU4dl8lAAAAAd/hello-world.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container_left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


